<% unless hike.errors.empty? %>
  <div class="error-notification">
    Errors: <%= hike.errors.full_messages.join(', ') %>
  </div>
<% end %>

<%=
attrs = { :action => "/clubs/#{hike.club_id}/hikes", :method => :post, :class => 'pure-form pure-form-stacked' }
opts = { :hidden_tags => [] }
unless hike.new?
  attrs[:action] = "/clubs/#{hike.club_id}/hikes/#{hike.id}"
  opts[:hidden_tags] << { :_method => :put }
end

Forme.form(hike, attrs, opts) do |f|
  f.input :club_id, :type => :hidden, :label => false
  f.input :title
  f.input :start_time, :value => hike.start_time_for_display
  f.input :end_time, :value => hike.end_time_for_display
  f.input :distance
  f.input :difficulty, :type => :select, :options => Hike::Difficulties + ['nothing']
  f.input :leaders, :id => 'hike_leaders', :options => User.all.map { |u| [u.name, u.id] }
  f.input :start_location, :name_method => :description

  f.button :id => :submit, :class => 'pure-button pure-button-primary'
end %>