<table class="pure-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Start At</th>
      <th>Duration (hours)</th>
      <th>Distance (miles)</th>
      <th>Difficulty</th>
      <th>Leaders</th>
      <th>Where</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% hikes.each do |h| %>
      <tr>
        <td><%= h.id %></td>
        <td><%= h.title %></td>
        <td><%= h.start_time_for_display %></td>
        <td><%= h.duration %></td>
        <td><%= h.distance.to_s('F') %></td>
        <td><%= h.difficulty %></td>
        <td><%= h.leaders.map(&:name) %></td>
        <td><%= h.start_location %></td>
        <td>
          <a href="/clubs/<%= club.id %>/hikes/<%= h.id %>">Show</a>
          <% if current_user && current_user.can_administer_club?(club) %>
            <a href="/clubs/<%= club.id %>/hikes/<%= h.id %>/edit">Edit</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.can_administer_club?(club) %>
  <a href="/clubs/<%= club.id %>/hikes/new">New Hike</a>
<% end %>