<h2><%= hike.title %></h2>
<dl>
  <dt>Start Time</dt>
  <dd><%= hike.start_time_for_display %></dd>

  <dt>End Time</dt>
  <dd><%= hike.end_time_for_display %></dd>

  <dt>Duration</dt>
  <dd><%= hike.duration %> hours</dd>

  <dt>Distance</dt>
  <dd><%= hike.distance.to_s('F') %> miles</dd>

  <dt>Difficulty</dt>
  <dd><%= hike.difficulty %></dd>

  <dt>Leaders</dt>
  <dd><%= hike.leader_names %></dd>

  <dt>Start Location</dt>
  <dd><%= hike.start_location %></dd>
</dl>
