<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
  </head>
  <body>
    <% if auth_message %>
      <p><strong><%= auth_message %></strong></p>
    <% end %>
    <p>You are <%= current_user %></p>
    <a href="/authentication/destroy">Log out</a>
    <div class="pure-g">
      <div class="pure-u-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>