<h2>Clubs</h2>
<table class="pure-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% clubs.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><a href="/clubs/<%= c.id %>/hikes"><%= c.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
