<h1>Please log in</h1>
<form action='/authentication/create' method='post'>
  <p> Username: <input type="text" name="username" /></p>
  <p> Password: <input type="password" name="password" /></p>
  <p> <input type="submit" id="submit" value="Submit"/></p>
</form>